<div class="stretch-container">
    <div class="min-half-width center-container backdrop-panel">
        <ProgressComponent Progress="@this.ViewModel.Progress"
                           Description="@this.ViewModel.Description"
                           Continue="@this.ViewModel.NavigateToExecutables"
                           ContinueEnabled="@this.ViewModel.ContinueEnabled" />
    </div>
</div>

@page "/guildwars-download"
@inherits ViewBase<GuildWarsDownloadView, GuildWarsDownloadViewModel>