.focus-dashboard {
    display: flex;
    width: 100%;
    height: calc(100% - 55px);
    margin-top: 35px;
    overflow: hidden;
}

.dashboard-half {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
}

.component {
    border-radius: 8px;
    overflow: clip;
}

.character-component {
    flex-shrink: 0;
    overflow: visible !important;
    z-index: 1000;
}

.vanquish-component {
    flex-shrink: 0;
}

.resources-component {
    flex-shrink: 0;
}

.title-component {
    flex-shrink: 0;
}

.map-component {
    flex-shrink: 0;
}

.quest-component {
    flex: 1;
    min-height: 0;
}

.build-component {
    height: 35%;
    flex-shrink: 0;
}

.browser-component {
    height: 65%;
    flex-shrink: 0;
}