<div class="container">
    <div class="backdrop-panel">
        <div class="message">
            <h3>@this.ViewModel.Message</h3>
            <div class="button-group">
                <FluentButton Appearance="Appearance.Accent" OnClick="this.ViewModel.ContinueToStage">Continue</FluentButton>
            </div>
        </div>
    </div>
</div>

@page "/onboarding/launcher/{Status}"
@inherits ViewBase<LauncherOnboardingView, LauncherOnboardingViewModel>
@code{
    [Parameter]
    public required string Status { get; set; }
}