.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    margin: 40% 0px 0px 0px;
}

.message {
    font-size: var(--font-size-medium);
}

::deep .button-group * {
    font-size: var(--font-size-medium) !important;
}
