.body {
    white-space: pre-wrap;
    font-size: var(--font-size-medium);
    padding: 20px;
    padding-top: 45px;
    overflow-wrap: break-word;
    overflow-y: auto;
    height: 100%;
    justify-content: center;
}

.header-right {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    gap: 8px;
    right: 250px;
}