<div class="container">
    <div class="build-entry-list">
        @if (this.BuildEntry is SingleBuildEntry singleBuild)
        {
            var attributesString = string.Join(", ", singleBuild.Attributes.Where(a => a.Points > 0).Select(a => $"{a.Attribute?.AlternativeName ?? string.Empty}: {a.Points}"));
            <div class="build-entry">
                @foreach(var skill in singleBuild.Skills)
                {
                    <div class="skill-icon-wrapper" title="@skill.Name">
                        <SkillIcon Skill="skill" />
                    </div>
                }

                <div class="build-attributes">
                    @attributesString
                </div>
            </div>
        }
        else if (this.BuildEntry is TeamBuildEntry teamBuild)
        {
            @foreach(var build in teamBuild.Builds)
            {
                var attributesString = string.Join(", ", build.Attributes.Where(a => a.Points > 0).Select(a => $"{a.Attribute?.AlternativeName ?? string.Empty}: {a.Points}"));
                <div class="build-entry">
                    @foreach(var skill in build.Skills)
                    {
                        <div class="skill-icon-wrapper" title="@skill.Name">
                            <SkillIcon Skill="skill" />
                        </div>
                    }

                    <div class="build-attributes">
                        @attributesString
                    </div>
                </div>
            }
        }
    </div>
</div>

@using Daybreak.Shared.Models.Builds
@using Daybreak.Shared.Models.Guildwars
@code {

    [Parameter]
    public required IBuildEntry BuildEntry { get; init; }
}
