.container {
    display: flex;
    flex-direction: column;
    overflow: visible;
}

.current-map-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
    overflow: visible;
}

.map-name {
    font-size: var(--font-size-large);
    color: var(--neutral-foreground-rest);
    cursor: pointer;
}

.map-label {
    font-size: var(--font-size-large);
    color: var(--neutral-foreground-rest);
}