.container {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    gap: 16px;
}

.content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.executables-list {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    gap: 10px;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}

.executable-row {
    display: flex;
    width: calc(100% - 40px);
    flex-direction: row;
    align-items: center;
    padding: 20px;
    gap: 10px;
    border: 2px solid var(--neutral-foreground-rest);
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
}

.executable-label {
    width: 150px;
    flex-shrink: 0;
}

.executable-field {
    flex: 1;
    min-width: 0;
    display: flex;
}

.executable-field-controls {
    display: flex;
    gap: 5px;
    padding: 5px;
    flex-direction: row;
}

.loading-circle {
    display: flex;
}

.update-progress-text {
    position: absolute;
    font-size: var(--font-size-xx-small);
    color: var(--neutral-foreground-rest);
    text-align: center;
    z-index: 1;
    pointer-events: none;
}

/* Another alternative - target any text content */
.executable-label ::deep * {
    font-size: var(--font-size-large) !important;
}

.executable-field ::deep fluent-text-field {
    width: 100%;
    box-sizing: border-box !important;
    font-size: var(--font-size-large);
}
