<div class="stretch-container backdrop-panel">
    <div class="gwmarket-container">
        <iframe sandbox="allow-scripts allow-same-origin allow-forms"
                style="height: 100%; width: 100%; margin: -2px;"
                src="@this.ViewModel.GwMarketUrl" />
    </div>
</div>

@page "/gwmarket"
@inherits ViewBase<GuildWarsMarketView, GuildWarsMarketViewModel>