<div class="stretch-container backdrop-panel">
    <div class="iframe-container">
        <BlazorFrame EnableNavigationTracking="true"
                     Src="https://party.gwtoolbox.com/"
                     Width="100%"
                     Height="100%"/>
    </div>
</div>
@page "/guildwars-party-search"
@inherits ViewBase<GuildWarsPartySearchView, GuildWarsPartySearchViewModel>