<div class="stretch-container backdrop-panel">
    <div class="title-bar-header">
        Guild Wars Mods
    </div>
    <div class="mods-container">
        @foreach (var mod in this.ViewModel.Mods)
        {
            if (!mod.IsVisible)
            {
                continue;
            }

            <div class="mod-row">
                <div class="mod-row-left">
                    <div class="mod-name-label">@mod.Name</div>
                    <div class="mod-description-label">@mod.Description</div>
                </div>
                <div class="mod-row-right">
                    <div class="mod-toggle">
                        <FluentSwitch Label="Enabled"
                                      Value="@(mod.IsInstalled && mod.IsEnabled)"
                                      @onchange="() => this.ViewModel.ToggleMod(mod)" />
                    </div>
                    @if (!mod.IsInstalled)
                    {
                        <div class="mod-not-installed">
                            Not Installed
                        </div>
                    }
                </div>
            </div>
        }
    </div>
</div>

@page "/mods"
@inherits ViewBase<ModsView, ModsViewModel>