.container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    color: var(--neutral-foreground-rest);
}

.backdrop-panel{
    padding: 20px;
    width: 100%;
    max-width: 800px;
}

h3 {
    font-size: var(--font-size-large);
}

p {
    font-size: var(--font-size-medium);
}

.button-group{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    align-content: center;
    justify-content: center;
    column-gap: 30%;
}