.single-build-view {
    position: relative;
    width: 100%;
    height: 100%;
}

.save-button-container {
    position: absolute;
    left: 50px;
    z-index: 20001;
}

.save-button {
    width: 50px;
    height: 34px;
    border: none;
    background: transparent;
    color: var(--accent-foreground-rest);
    cursor: pointer;
    transition: background-color 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--font-size-large);
    z-index: 20001;
}

    .save-button:hover {
        background: var(--accent-foreground-hover);
    }