.splash-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: white;
}
    .splash-container h3 {
        margin-top: 1rem;
        color: black;
    }

.splash-logo {
    width: 200px;
    height: 200px;
}