.team-build-view {
    position: relative;
    width: 100%;
    height: 100%;
}

.save-button-container {
    position: absolute;
    left: 50px;
    z-index: 20001;
}

.save-button {
    width: 50px;
    height: 34px;
    border: none;
    background: transparent;
    color: var(--accent-foreground-rest);
    cursor: pointer;
    transition: background-color 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    z-index: 20001;
}

    .save-button:hover {
        background: var(--accent-foreground-hover);
    }

.build-selection {
    display: flex;
    margin-top: 10px;
    padding: 20px 20px 0 20px;
}

.build-selector {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

    .build-selector label {
        font-weight: bold;
        font-size: var(--font-size-medium);
        color: var(--neutral-input-rest);
    }

.build-select {
    padding: 8px 12px;
    border-radius: 4px;
    font-size: var(--font-size-medium);
    background-color: var(--neutral-fill-rest);
    color: var(--neutral-input-rest);
    border: 1px solid var(--neutral-foreground-rest);
}

.summary-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    height: auto;
    max-width: 90%;
    max-height: 90%;
    min-width: 70%;
    overflow: auto;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    border: 1px solid var(--neutral-foreground-rest);
}

.summary-row {
    flex-direction: row;
    display: flex;
    min-width: 500px;
    justify-content: space-between;
    border-bottom: 1px solid var(--neutral-foreground-rest);
    align-items: center;
}

.summary-name {
    display: flex;
    font-size: var(--font-size-medium);
    align-items: center;
    padding-left: 20px;
    padding-right: 10px;
    min-width: 100px;
}

.summary-details {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
}

.summary-attributes {
    display: flex;
    position: absolute;
    background: color-mix(in srgb, var(--neutral-fill-strong-rest) 80%, transparent);
    border-radius: 4px;
    color: var(--neutral-foreground-rest);
    font-size: var(--font-size-small);
    padding: 2px;
}

.summary-skills {
    display: flex;
    flex-direction: row;
    height: 65px;
    border-radius: 4px;
    overflow: clip;
}

.summary-skill-icon {
    width: 65px;
    height: 65px;
}