<div class="stretch-container backdrop-panel">
    <div class="header">
        <h1>Updating Daybreak</h1>
    </div>
    <div class="center-container min-half-width">
        <ProgressComponent Progress="@this.ViewModel.Progress"
                           Description="@this.ViewModel.Description"
                           ContinueEnabled="@this.ViewModel.ContinueEnabled"
                           Continue="@this.ViewModel.Continue"/>
    </div>
</div>

@page "/update"
@inherits ViewBase<UpdateView, UpdateViewModel>
@code {
    [Parameter]
    public string Version { get; set; } = string.Empty;
}