.stretch-container {
    width: 100%;
    align-items: center;
}

.content {
    height: 100%;
    max-width: 400px;
    width: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    margin: 50px 0px 0px 0px;
}

.version-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.version-row-center {
    cursor: pointer;
    text-align: center;
    align-content: center;
    font-size: var(--font-size-medium);
}