.backdrop-panel {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 500px;
}

.alert-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}