.container {
    width: 100%;
    height: 100%;
}

.alert-list {
    display: flex;
    margin-top: 33px;
    flex-direction: column;
}

.alert-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 10px;
    border-bottom: 1px solid var(--neutral-stroke-divider-rest);
    cursor: pointer;
    transition: background-color 0.2s ease;
    box-sizing: border-box;
    border-radius: 6px;
    height: 75px;
}

.alert-container:hover {
    background-color: var(--accent-fill-hover);
}

.alert-container:focus {
    outline: 2px solid var(--accent-fill-focus);
    outline-offset: -2px;
}

.alert-left {
    display: flex;
    flex-direction: column;
}

    .alert-left .alert-type {
        font-style: italic;
        font-size: var(--font-size-small);
        color: var(--input-placeholder-rest);
    }

    .alert-left .alert-name {
        font-size: var(--font-size-medium);
    }

    .alert-left .alert-id {
        font-size: var(--font-size-small);
    }

.alert-right {
    margin-left: auto;
}