<div class="stretch-container">
    <div class="min-half-width center-container backdrop-panel">
        <ProgressComponent Description="@this.ViewModel.Description"
                           ContinueEnabled="@this.ViewModel.ContinueEnabled"
                           Progress="@this.ViewModel.Progress"
                           Continue="@this.ViewModel.NavigateToExecutables"/>
    </div>
</div>

@page "/guildwars/copy/{Source}"
@inherits ViewBase<GuildWarsCopyView, GuildWarsCopyViewModel>
@code{
    [Parameter]
    public required string Source { get; init; } = string.Empty;
}