.icon-container {
    width: 100%;
    height: 100%;
    object-fit: contain;
    position: relative;
    container-type: inline-size;
}

.icon-border {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    border: 4px solid transparent; /* 3px for standard 60px icons */
}

    /* Container query for smaller icons */
    @container (max-width: 40px) {
        .icon-border {
            border-width: 2px;
        }
    }

    .icon-border.normal {
        border-color: black;
    }

    .icon-border.elite {
        border-color: gold;
    }