<div class="stretch-container backdrop-panel">
    <div class="title-bar-header">
        Trader Notification
    </div>
    <div class="center-container container min-half-width">
        <div class="row">
            <div class="row-left">
                Message:
            </div>
            <div class="row-right">
                @this.Message
            </div>
        </div>
        <div class="row">
            <div class="row-left">
                Sender:
            </div>
            <div class="row-right">
                @this.Sender
            </div>
        </div>
        <div class="row">
            <div class="row-left">
                Timestamp:
            </div>
            <div class="row-right">
                @this.Timestamp
            </div>
        </div>
    </div>
</div>

@page "/trade/notification"
@inherits ViewBase<TradeNotificationView, TradeNotificationViewModel>
@code {
    [Parameter]
    public string? Message { get; set; }

    [Parameter]
    public string? Sender { get; set; }

    [Parameter]
    public string? Timestamp { get; set; }
}
