<h3>@this.Name</h3>
@this.Description
<h3>@this.Value</h3>
@inherits OptionBase<bool>
@code{
    public override bool ConvertValue(OptionInstance optionInstance, OptionProperty property)
    {
        var value = property.Getter(optionInstance) as bool?;
        return value ?? false;
    }
}
