<h3>OptionBase</h3>
@typeparam T
@code {
    [Parameter]
    public required string Name { get; init; }
    [Parameter]
    public required string Description { get; init; }
    [Parameter]
    public required OptionInstance Instance { get; init; }
    [Parameter]
    public required OptionProperty Property { get; init; }

    public T? Value { get; set; }

    public virtual T? ConvertValue(OptionInstance optionInstance, OptionProperty property) { throw new InvalidOperationException("Converter is not implemented"); }

    protected override Task OnParametersSetAsync()
    {
        this.Value = this.ConvertValue(this.Instance, this.Property);
        return base.OnParametersSetAsync();
    }
}
