.status-bar {
    background: color-mix(in srgb, var(--neutral-fill-rest) 60%, transparent);
    border-top: 1px solid var(--neutral-stroke-rest);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    color: var(--neutral-foreground-rest);
    font-size: var(--font-size-small);
    backdrop-filter: blur(5px);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;
}

.status-left {
    display: flex;
    align-items: center;
    gap: 10px;
}

.version-info {
    color: var(--neutral-foreground-rest);
}

.admin-badge {
    padding: 2px 6px;
    border-radius: 3px;
    font-size: var(--font-size-small);
    cursor: pointer;
    float: right;
}

.status-right {
    display: flex;
    align-items: center;
}

.credit-text {
    color: var(--neutral-foreground-rest);
    cursor: pointer;
    transition: opacity 0.2s;
}

    .credit-text:hover {
        opacity: 0.8;
    }
