<div class="status-bar backdrop-panel">
    <div class="status-left">
        <span class="version-info">@this.CurrentVersionText</span>
        @if (this.IsAdmin)
        {
            <span class="admin-badge">[Admin]</span>
        }
    </div>
    <div class="status-right">
        @if (!string.IsNullOrEmpty(this.CreditText))
        {
            <span class="credit-text" @onclick="this.OpenCreditLink">@this.CreditText</span>
        }
    </div>
</div>

@code{
    [Parameter]
    public required bool IsAdmin { get; init; }
    [Parameter]
    public required string CreditText { get; init; }
    [Parameter]
    public required string CurrentVersionText { get; init; }
    [Parameter]
    public required Action OpenCreditLink { get; init; }
}