<div class="container backdrop-panel">
    @if (this.Context?.CurrentMap is not null)
    {
        <div class="current-map-container">
            <div class="map-label">
                Current Map
            </div>
            <div class="map-name" @onclick="this.CurrentMapClicked">
                @this.Context.CurrentMap.Name
            </div>
        </div>
    }
    else
    {
        <SpinnerWidget IsLoading="true" />
    }
</div>

@code {
    [Parameter]
    public required CurrentMapComponentContext? Context { get; init; }
    [Parameter]
    public required Action OnCurrentMapClicked { get; init; }

    private void CurrentMapClicked()
    {
        this.OnCurrentMapClicked();
    }
}
