.container {
    display: flex;
    flex-direction: column;
    overflow: visible;
}

.title {
    font-size: var(--font-size-large);
    color: var(--neutral-foreground-rest);
}

.full-round {
    border-radius: 8px;
}

.bottom-round {
    border-radius: 0px 0px 8px 8px;
}

.bar-container {
    position: relative;
    width: 100%;
    height: var(--font-size-x-large);
    background: var(--neutral-fill-rest);
    overflow: hidden;
}

.bar-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: var(--font-size-medium);
    color: var(--neutral-foreground-rest);
    z-index: 1;
}

.kurzick-bar-fill {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: color-mix(in srgb, var(--accent-darkblue) 70%, transparent);
    transition: width 0.3s ease-out;
}

.luxon-bar-fill {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: color-mix(in srgb, var(--accent-darkred) 70%, transparent);
    transition: width 0.3s ease-out;
}

.balthazar-bar-fill {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: color-mix(in srgb, var(--accent-orange) 70%, transparent);
    transition: width 0.3s ease-out;
}

.imperial-bar-fill {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: color-mix(in srgb, var(--accent-darkpurple) 70%, transparent);
    transition: width 0.3s ease-out;
}