.container {
    display: flex;
    flex-direction: column;
    overflow: visible;
    height: 100%;
    min-height: 0;
}

.title {
    font-size: var(--font-size-large);
    color: var(--neutral-foreground-rest);
    flex-shrink: 0;
}

.active-container {
    flex-shrink: 0;
    border-bottom: 1px solid var(--neutral-foreground-rest);
}

.active-name {
    font-size: var(--font-size-medium);
    margin-left: 1.5rem;
    cursor: pointer;
}

.active-label {
    font-size: var(--font-size-medium);
    font-weight: bolder;
}

.log-container {
    overflow-y: auto;
    flex: 1;
    min-height: 0;
}

.quest-group {
    border-bottom: 1px solid var(--neutral-foreground-rest);
}

.quest-location {
    font-size: var(--font-size-medium);
    font-weight: bolder;
}

.quest-list {

}

.quest-entry {
    font-size: var(--font-size-medium);
    margin-left: 1.5rem;
    cursor: pointer;
}