.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.spinner {
    width: 16px;
    height: 16px;
    border: 2px solid var(--input-placeholder-rest);
    border-top: 2px solid var(--neutral-foreground-rest);
    border-radius: 50%;
    animation: spin 1s linear infinite;
}
