.resize-border {
    position: absolute;
    z-index: 30000; /* Above everything else */
    background: transparent;
}

.resize-border-top {
    top: 0;
    left: 8px;
    right: 8px;
    height: 8px;
    cursor: n-resize;
}

.resize-border-bottom {
    bottom: 0;
    left: 8px;
    right: 8px;
    height: 8px;
    cursor: s-resize;
}

.resize-border-left {
    top: 8px;
    left: 0;
    bottom: 8px;
    width: 8px;
    cursor: w-resize;
}

.resize-border-right {
    top: 8px;
    right: 0;
    bottom: 8px;
    width: 8px;
    cursor: e-resize;
}

.resize-border-top-left {
    top: 0;
    left: 0;
    width: 8px;
    height: 8px;
    cursor: nw-resize;
}

.resize-border-top-right {
    top: 0;
    right: 0;
    width: 8px;
    height: 8px;
    cursor: ne-resize;
}

.resize-border-bottom-left {
    bottom: 0;
    left: 0;
    width: 8px;
    height: 8px;
    cursor: sw-resize;
}

.resize-border-bottom-right {
    bottom: 0;
    right: 0;
    width: 8px;
    height: 8px;
    cursor: se-resize;
}
