# This action simulates a CD pipeline without the package publishing
# to ensure that changes don't break the real run
name: Daybreak Dry-Run CD Pipeline

on:
  push:
    branches:
      - master
    paths:
      - "Daybreak/**"
      - "Daybreak.Installer/**"
      - "Daybreak.API/**"
      - "Daybreak.7ZipExtractor/**"
      - "Daybreak.Installer/**"
      - "Daybreak.Shared/**"
  workflow_dispatch:

jobs:
  cd:
    uses: ./.github/workflows/cd-template.yml
    with:
      publishRelease: false
    secrets: inherit
