# This action simulates a CD pipeline without the package publishing
# to ensure that changes don't break the real run
name: Daybreak Dry-Run CD Pipeline

on:
  pull_request:
    branches:
      - master
    paths:
      - "Daybreak.Core/**"
      - "Daybreak.Installer/**"
      - "Daybreak.API/**"
      - "Daybreak.Shared/**"
      - "Daybreak.Windows/**"
      - "Daybreak.Linux/**"

jobs:
  cd:
    uses: ./.github/workflows/cd-template.yml
    with:
      publishRelease: false
    secrets: inherit
